html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

#side-bar-01 {
    top: '40vh';
    left: '20vh';
    position: 'absolute'
}