@font-face {
    font-family: 'ManropeBold';
    src: url('../public/fonts/Manrope/static/Manrope-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ManropeExtraBold';
    src: url('../public/fonts/Manrope/static/Manrope-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ManropeRegular';
    src: url('../public/fonts/Manrope/static/Manrope-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

/*
* Page styling
*/

html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: "#02075D";
}

#side-bar-01 {
    top: 200vh;
    width: 40vw;
    height: 230vh;
    padding-top: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#side-bar-02 {
    top: 400vh;
    width: 40vw;
    height: 400vh;
    left: 50vw;
    padding-top: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#side-bar-03 {
    top: 400vh;
    width: 40vw;
    height: 150vh;
    padding-top: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#side-bar-04 {
    top: 600vh;
    width: 40vw;
    height: 200vh;
    left: 50vw;
    padding-top: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#side-bar-05 {
    top: 700vh;
    width: 40vw;
    height: 150vh;
    padding-top: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}


/*
* Intro styling
*/

#intro-section {
    font-family: ManropeRegular;
    font-size: 24px;
    position: relative;
    text-align: center;
    left: 25vw;
    top: 35vh
}


/*
* Section styling
*/

.section-margin {
    width: 100%;
}

.section-left {
    position: relative;
    width: 50%;
    padding-top: 100px;
    margin: 0;
    background-color: white;
    overflow: hidden;
}

.section-right {
    position: relative;
    padding-top: 100px;
    margin: 0;
    background-color: white;
    overflow: hidden;
}

.left {
    margin-right: auto;
    border-top-right-radius: 700px 700px;
    border-bottom-right-radius: 0px 0px;
}

.right {
    margin-left: auto;
    border-top-left-radius: 700px 700px;
    border-bottom-left-radius: 0px 0px;
}


/* Sections */

.section-intro-wrapper {
    position: relative;
    padding: 0% 5%;
    border-bottom: 2px solid pink;
    padding-bottom: -50px;
}

.section-intro-wrapper:nth-child(3) {
    border-bottom: 2px solid pink;
}

.section-detail-wrapper {
    position: relative;
    padding: 20% 5%;
    font-family: ManropeRegular;
}

.section-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.8;
    margin-top: 64px;
    color: black;
}

.section-text {
    line-height: 2;
    margin-top: 18px;
    font-size: 16px;
    color: black;
}


/* Progress bars */

.progress-wrapper {
    height: 0;
    width: 12px;
    z-index: 9999;
}

.progress-bar-wrapper-left {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-wrapper-right {
    position: absolute;
    top: 0;
    right: 0;
}

.progress-bar {
    height: 100%;
    width: 100%;
    background-color: pink;
    transform-origin: top center;
    transform: scaleY(1);
}


/* Fancy Decoration Part of Section */

.section-title {
    position: relative;
    color: pink
}

.section-title-text {
    display: block;
    font-size: 40px;
    font-weight: 500;
    transform-origin: left;
    z-index: 5;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: ManropeBold;
    color: pink;
}

.styleOne,
.styleTwo,
.styleThree {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 40vw;
    height: 6vh;
    border: 1px solid pink;
    transform-origin: left;
    transform: skewY(-25deg);
}

.styleOne {
    top: 0px;
}

.styleTwo {
    top: 80px;
}

.styleThree {
    top: 80px;
    transform: skewY(25deg);
    background-color: pink;
}

.section-number {
    position: absolute;
    bottom: 15px;
    right: 0;
    color: pink;
    font-size: 24px;
    font-family: ManropeBold;
}


/*
* Monitor styling
*/

.htmlScreen iframe {
    width: 1030px;
    height: 590px;
    border: none;
    overflow: initial;
    top: 950vh;
}

.htmlScreen {
    overflow: initial !important;
    display: block;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

@media only screen and (max-width: 767px) {
    #side-bar-01,
    #side-bar-02,
    #side-bar-03,
    #side-bar-04,
    #side-bar-05 {
        width: 100vw;
        left: 0;
        margin: 0;
    }
    .first-section>div:nth-child(2) {
        margin-right: 12vw !important;
    }
    .first-section>div:nth-child(3) {
        margin-right: 12vw !important;
    }
    .second-section {
        margin-right: 12vw;
    }
    .playerWrapper>div {
        height: 58vw !important;
    }
}


/*
* Waving emoji animation CSS
*/

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg)
    }
    10% {
        transform: rotate(14.0deg)
    }
    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }
    30% {
        transform: rotate(14.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }
    50% {
        transform: rotate(10.0deg)
    }
    60% {
        transform: rotate( 0.0deg)
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate( 0.0deg)
    }
}


/*
* Video Player
*/

.playerDiv {
    width: 100%;
    position: relative;
}

.paper {
    padding: 16px;
    text-align: center;
    color: white;
    background-color: black;
}


/* 
.playerWrapper div {
    width: auto !important;
    height: auto !important;
} */

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.playerWrapper img {
    height: auto;
}

.carousel div:nth-child(4) {
    padding-top: 40px;
}

.image-gallery {
    margin-top: 42px;
}


/**
* Intro Text
*/

.center-screen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
}

.ml6 {
    text-align: center;
    position: relative;
    font-weight: 800;
    font-family: 'ManropeExtraBold';
    font-size: 1.5em;
    width: 80vw;
    margin-bottom: 80px;
    color: "#1E90FF";
    color: lightcyan;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: -2em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

.switch-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    align-items: center;
    margin-top: 20px;
}

.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: grey;
    border-radius: 100px;
    transition: background-color .2s;
}

.react-switch-button {
    content: '';
    width: 20px;
    height: 20px;
    position: relative;
    left: 2px;
    border-radius: 20px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0wpx 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked+.react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.react-switch-checkbox:checked+.react-switch-label {
    background: #c1d1e5;
}

.react-switch-label:active .react-switch-button {
    width: 16px;
}